* {
    font-family: verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-color: rgb(220, 220, 220);
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

#users{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.armor{
    flex: 1;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

.userDisplay{
    flex: 1;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

#selectedUser{
    display: none;
    text-align: center;
}

#selectedUserLoadout{
    display: flex;
    flex-wrap: wrap;
}

#name{
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
}

#statsSpan{
    text-align: center;
    margin: 0 auto;
}